<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What the quack?</h1>
        <%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>


				  <table class="following_stats" width="100%">
				    <tr>
				      <td class="following_header">
				        <a href="<%= following_user_path(current_user) %>">
				            Following <%= pluralize(current_user.following.count, "quacker") %>
				        </a>
					      </td>
					    </tr>
					    <tr>
					      <td class="quacker_box">
					      <% unless current_user.following.empty? %>
					        <% current_user.following.each do |user| %>
					          <%= link_to gravatar_for(user, :size => 30), user %>
					        <% end %>
					      <% end %>
				
					      </td>
					    </tr>
					    <tr>
					      <td class="following_header">
									<a href="<%= followers_user_path(current_user) %>">
				            Followed by <%= pluralize(current_user.followers.count, "quacker") %>
				        	</a>
					      </td>
					    </tr>
					    <tr>
					      <td class="quacker_box">
					      <% unless current_user.followers.empty? %>
					        <% current_user.followers.each do |user| %>
					          <%= link_to gravatar_for(user, :size => 30), user %>
					        <% end %>
					      <% end %>
			      </td>
			    </tr>
			  </table>
      </td>
    </tr>
  </table>
<% else %>
	<h1>We're All Quackers!</h1>
	<%= link_to "Join Us!", signup_path, :class => "signup_button round" %>
<% end %>
